<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home page</title>
    </head>
    <body>
    <h1>
        We'll be back;)
    </h1>
    <p>
        Welcome back
    </p>
    </body>
</html>