<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Project page</title>
    </head>
    <body>
       {{> header}}
        <p>{{streamIt message}}</p>
        
      {{> footer}}
    </body>
</html>